<div class="card-container">

  <h2>Historial de citas</h2>

  <!-- FILTROS -->
  <form [formGroup]="filterForm" class="filters">

    <mat-form-field appearance="outline">
      <mat-label>Fecha inicio</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha fin</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

<button mat-raised-button color="primary" (click)="applyFilter()">
  🔍 Filtrar
</button>

<button mat-stroked-button (click)="clearFilter()">
  Limpiar
</button>

  </form>

  <!-- TABLA -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
    </ng-container>

    <ng-container matColumnDef="patient">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{ element.client.name + ' ' + element.client.last_name }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="element.status.toLowerCase()">
          {{ element.status ? element.status === 'COMPLETED' ? 'Completada' : element.status === 'CANCELLED' ? 'Cancelada' : 'Pendiente' : 'Desconocido' }}
        </span>
      </td>
    </ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

<tr 
  mat-row 
  *matRowDef="let row; columns: displayedColumns;"
  (click)="openDetail(row)"
  class="clickable-row"
></tr>
  </table>

</div>