<h2 mat-dialog-title>
  {{ data ? 'Editar Premio' : 'Nuevo Premio' }}
</h2>

<form [formGroup]="form" mat-dialog-content>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Puntos Requeridos</mat-label>
    <input matInput type="number"
           formControlName="required_points">
  </mat-form-field>

</form>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary"
          (click)="save()">
    Guardar
  </button>
</div>