.dashboard-page{
  padding:24px;
  background:#f8fafc;
  min-height:100vh;
}

/* HEADER */
.dashboard-header h1{
  font-size:40px;
  font-weight:800;
  margin:0;
}

.dashboard-header p{
  margin-top:8px;
  color:#64748b;
  font-size:15px;
}

/* KPI */
.kpi-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:18px;
  margin-top:24px;
}

.kpi-card{
  padding:24px;
  border-radius:22px;
  box-shadow:none;
  border:1px solid #e5e7eb;
  position:relative;
}

.kpi-card::before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  width:5px;
  border-radius:22px 0 0 22px;
}

.blue::before{ background:#2563eb; }
.purple::before{ background:#9333ea; }
.green::before{ background:#16a34a; }
.orange::before{ background:#ea580c; }

.card-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:#475569;
}

.number{
  font-size:46px;
  font-weight:800;
  margin:18px 0 8px;
}

.kpi-card small{
  color:#16a34a;
  font-weight:600;
}

/* PANELS */
.charts-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:18px;
  margin-top:22px;
}

.panel-card{
  padding:24px;
  border-radius:22px;
  border:1px solid #e5e7eb;
  box-shadow:none;
}

.panel-header h3{
  margin:0;
  font-size:24px;
  font-weight:700;
}

.panel-header span{
  color:#64748b;
  font-size:14px;
}

.chart-placeholder{
  height:320px;
  margin-top:20px;
  border-radius:18px;
  background:linear-gradient(180deg,#f8fafc,#eef2ff);
  display:flex;
  align-items:center;
  justify-content:center;
  color:#64748b;
  font-size:20px;
}

/* LISTAS */
.list-item{
  display:flex;
  align-items:center;
  gap:14px;
  padding:14px;
  border-radius:18px;
  background:#f8fafc;
  margin-top:14px;
}

.avatar{
  width:46px;
  height:46px;
  border-radius:50%;
  background:#2563eb;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:700;
}

.orange-bg{
  background:#f97316;
}

.info{
  flex:1;
  display:flex;
  flex-direction:column;
}

.info small{
  color:#64748b;
}

.right{
  text-align:right;
}

.green-text{
  color:#16a34a;
  font-weight:800;
}

/* MOBILE */
@media(max-width:900px){

  .charts-grid{
    grid-template-columns:1fr;
    overflow-x: auto;
  }

  .dashboard-header h1{
    font-size:30px;
  }

  .number{
    font-size:34px;
  }

}