/* Reset básico */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Contenedor principal del dashboard */
mat-sidenav-container {
  height: 100vh;
}

/* Sidebar */
mat-sidenav {
  width: 240px;
}
.search-box{
  display:flex;
  align-items:center;
  gap:10px;
  background:#f8f9fb;
  border:1px solid #e6e8ec;
  border-radius:14px;
  padding:12px 16px;
  margin:18px 0;
}

.search-box input{
  border:none;
  outline:none;
  background:transparent;
  width:100%;
  font-size:14px;
}
/* Toolbar */
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
/* Utilidades simples */
.h-screen {
  height: 100vh;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

/* Grid responsive */
.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.w-25{
    width: 25%;
}
.gap-4 {
  gap: 1rem;
}

@media (min-width: 768px) {
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
